.tooltip-inner {
  max-width: none;
  background-color: #e4e5e6;
}
.bs-tooltip-top .arrow::before {
  border-top-color: #e4e5e6;
}

#window_chat {
  width: 60px;
  height: 80px;
  position: absolute;
  background: white;
  top: 68px;
  margin-left: 18px;
  border-radius: 8px;
}

#button_chat {
  width: 20px;
  height: 20px;
  background: white;
  position: absolute;
  top: 154px;
  border-radius: 50%;
  margin-left: 18px;
}
