.greeting {
  position: absolute;
  padding-left: 60px;
  padding-top: 19px;

}

.bg-preview {
  width: 360px;
  position: fixed;
  top: calc(50px + 1rem);
}
.bg-preview img {
  width: 100%;
}

.fb-button-preview {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fb-button-preview .btn-default {
  width: 80px;
  height: 80px;
}

.btn-fb-custom {
  border-radius: 30px;
  background-color: #00aced;
  padding-left: 16px;
  padding-right: 16px;
  height: 40px;
  display: inline-flex;
  align-items: center;

}
.btn-fb-custom span.icon {
  font-size: 22px;
  display: inline-block;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 0;
  font-family: qfc;
}

.btn-fb-custom span.icon-text-custom {
  margin-left: 10px;
}
.btn-fb-custom span.icon-1::before {
  content: "\ea03";
}
.btn-fb-custom span.icon-2::before {
  content: "\ea04";
}
.btn-fb-custom span.icon-3::before {
  content: "\ea05";
}
.btn-fb-custom span.icon-4::before {
  content: "\ea06";
}
.btn-fb-custom span.icon-5::before {
  content: "\ea07";
}
.btn-fb-custom span.icon-6::before {
  content: "\ea08";
}
.btn-fb-custom span.icon-7::before {
  content: "\ea09";
}
.btn-fb-custom span.icon-8::before {
  content: "\ea0a";
}

.btn-fb-custom span {
  font-size: 18px;
}


.btn-fb-custom img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

@media (max-width: 768px) {
  .bg-preview {
    width: 300px;
  }
  .btn-fb-custom span {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .bg-preview {
    width: 300px;
    position: static;
  }
  .btn-fb-custom span {
    font-size: 14px;
  }
}

@media (max-width: 575px) {
  .bg-preview {
    position: static;
    margin: auto;
  }
}
