.main {
  .container-fluid {
    background-color: #e9ebee;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .main {
    .container-fluid {
      padding: 0;
    }
  }
  .shop-name {
    display: none;
  }
}
