<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatative by FITi</title>
    <style>
        body {
            text-align: center;
            padding: 200px;
        }

        #namanyay-search-btn {
            background: #0099ff;
            color: white;
            font: 'trebuchet ms', trebuchet;
            padding: 10px 20px;
            border-radius: 0 5px 5px 0;
            -moz-border-radius: 0 5px 5px 0;
            -webkit-border-radius: 0 5px 5px 0;
            -o-border-radius: 0 5px 5px 0;
            border: 0 none;
            font-weight: bold;
        }

        #namanyay-search-box {
            background: #eee;
            padding: 10px;
            border-radius: 5px 0 0 5px;
            -moz-border-radius: 5px 0 0 5px;
            -webkit-border-radius: 5px 0 0 5px;
            -o-border-radius: 5px 0 0 5px;
            border: 0 none;
            width: 160px;
        }
    </style>
</head>
<body>
<form style="display:inline;" method="POST">
    {% csrf_token %}
    <h1>Chatative by FITi</h1>
    <input id="namanyay-search-box" name="shop" size="40" type="text" placeholder="Enter your shopify url"/>
    <input id="namanyay-search-btn" value="Install" type="submit"/>
</form>
</body>
</html>