#icon_button {
  display: flex;
}
.button-icon {
  flex: 1;
  border: 1px solid #c4c6d4;
  cursor: pointer;
  height: 48px;
  position: relative;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8fc;
  color: #55586c;
  font-size: 26px;
}
.button-icon:last-child {
  border-right: 1px solid #c4c6d4;
}
.button-icon.active {
  color: #2d46eb;
  background-color: #fff;
}
.button-icon span {
  font-family: qfc;
}
span.icon-text-custom {
  margin-left: 10px;
}
span.icon-1::before {
  content: "\ea03";
}
span.icon-2::before {
  content: "\ea04";
}
span.icon-3::before {
  content: "\ea05";
}
span.icon-4::before {
  content: "\ea06";
}
 span.icon-5::before {
  content: "\ea07";
}
span.icon-6::before {
  content: "\ea08";
}
span.icon-7::before {
  content: "\ea09";
}
span.icon-8::before {
  content: "\ea0a";
}
@media (max-width: 768px) {
  .button-icon {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .button-icon {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .button-icon {
    font-size: 18px;
  }
}
