<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Facebook Live Chat">
    <meta name="author" content="Facebook Live Chat">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,CSS,SCSS,HTML,RWD,Dashboard,React">
    <title>Chatative by FITi</title>
    <link rel="shortcut icon" href="static/favicon.ico">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59499136-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-59499136-5');
    </script>
    <script>
        window.fitiToken = '{{access_token}}';
        window.fitiShop = JSON.parse("{{ shop_info}}".replace(/&quot;/g,"\""));
        //window.fitiToken = '41441ac820cc96da57a6d3ddd26fdf69';
        //window.fitiShop = {"primary_location_id":5442830372,"checkout_api_supported":false,"money_with_currency_format":"{{amount_no_decimals_with_comma_separator}} VND","tax_shipping":null,"province_code":null,"has_discounts":false,"longitude":105.827744,"setup_required":false,"phone":"","currency":"VND","domain":"quickrabbit.myshopify.com","country_code":"VN","id":739508260,"finances":true,"pre_launch_enabled":false,"eligible_for_card_reader_giveaway":false,"city":"Ha Noi","email":"quyettien.ictu@gmail.com","timezone":"(GMT-05:00) Eastern Time (US &amp; Canada)","address2":null,"money_format":"{{amount_no_decimals_with_comma_separator}}₫","plan_name":"affiliate","iana_timezone":"America/New_York","customer_email":"quyettien.ictu@gmail.com","latitude":21.026057,"updated_at":"2018-03-09T11:33:13-05:00","google_apps_login_enabled":null,"has_gift_cards":false,"zip":"100000","name":"quickrabbit","created_at":"2018-03-09T10:37:59-05:00","has_storefront":true,"password_enabled":false,"county_taxes":true,"google_apps_domain":null,"country_name":"Vietnam","address1":"Ha Noi","taxes_included":false,"eligible_for_payments":false,"province":"","weight_unit":"kg","requires_extra_payments_agreement":false,"primary_locale":"en","money_in_emails_format":"{{amount_no_decimals_with_comma_separator}}₫","plan_display_name":"affiliate","country":"VN","multi_location_enabled":false,"source":null,"money_with_currency_in_emails_format":"{{amount_no_decimals_with_comma_separator}} VND","shop_owner":"Quick Rabbit","myshopify_domain":"quickrabbit.myshopify.com","force_ssl":true};
    </script>
  </head>

  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>

  </body>
</html>
